<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>
<body style="background-color: lightgray;">
    <div class="container">
        <h2>Categorias</h2>
        <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
        <table class="table" style="margin-top: 2vh; background-color: white;">
            <thead>
                <tr class="bg-primary" style="color: white;">
                    <th width="10%">ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach((category) => { %>
                    <tr>
                        <th><%= category.id %></th>
                        <th><%= category.title %></th>
                        <th><%= category.slug %></th>
                        <th>
                            <form method="GET" style="display: inline;" action="/admin/categories/edit/<%= category.id %>">
                                <button class="btn btn-warning">Editar</button>
                            </form>
                            <form method="POST" style="display: inline;" action="/admin/categories/delete/<%= category.id %>" onsubmit="javascript:deleteWarning(event, this)">
                                <button class="btn btn-danger">Excluir</button>
                            </form>
                        </th>
                    </tr>
                <%}) %>
            </tbody>
        </table>
    </div>
</body>
<script>
    function deleteWarning(event, form) {
        event.preventDefault();
        confirm('Você deseja deletar essa categoria?') ? form.submit() : false;
    }
</script>
<%- include('../../partials/footer.ejs'); %>